<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.autenticar.tuid">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />-->

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- To use multiple models: android:value="label,text" -->


    <application
        android:name="com.autenticar.tuid.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face, barcode" />

        <activity
            android:name="com.autenticar.tuid.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.autenticar.tuid.RegistrarUserActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_registrar"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.autenticar.tuid.RegistrarScanUserActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_registrar"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.autenticar.tuid.AutentificationCode"
            android:configChanges="orientation|keyboardHidden"
            android:label="Autentificación"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"
                    android:screenOrientation="portrait"
                    android:theme="@style/AppTheme.NoActionBar"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="autenticartuid.page.link"
                    android:scheme="https" />
                <data
                    android:host="autenticartuid.page.link"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utils.camera.CameraPreview"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_registrar"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.autenticar.tuid.utils.cropimage.CropImage" />
        <activity android:name=".OcrCaptureActivity" />
        <activity
            android:name="com.autenticar.tuid.LivePreviewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:label="@string/label_fe_vida"
            android:theme="@style/AppTheme.NoActionBar"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <activity
            android:name="com.autenticar.tuid.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.autenticar.tuid.MultiTrackerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>
</manifest>